@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

body{
	font-family: sans-serif;
	/* display: flex;
	justify-content: center; */
}


#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
	
}

.navbar{
	background-image: linear-gradient(rgba(98, 10, 117),  rgba(0,0,255,0));
	padding: 0!important;
	background-color: orange;
}

.navbar-nav li{
	padding: 0 10px;
}

.navbar-nav li a{
	color: black;
	font-weight: 600;
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: orange !important;
}

.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

.navbar-toggler{
	outline: none !important;
}

/*-----about --------*/
#about{
	padding-top:50px;
	padding-bottom: 50px;
	color: #555;
}

#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content{
	padding-top: 20px;
	
}

/* --- services ----*/
#services{
	background-image: linear-gradient(rgba(98, 10, 117), rgba(0,0,255,0)), url(/image/backimage.jpg);
	background-size: cover;
	background-position: center;
	color: black !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

#services h1{
	text-align: center;
	color: black !important;
	padding-bottom: 10px;
}

#services h1::after{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.services{
	margin-top: 40px;
}

.icon{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}

#services p{
	font-size: 14px;
	margin-top: 20px;
	color: black solid;
	
}
.services .col-md-3:hover{
	background: pink;
	cursor: pointer;
	transition: 0.7s;
}

#reviews{
	padding-top: 50px;
	padding-bottom: 50px;
	
}

#reviews h1{
	text-align: center;
	
}
#reviews h1::after{
	content: '';
	background: Black;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

#reviews .row{
	margin-top: 30px;
	
}

.col-md-4{
	margin: 40px auto;
}

.profile{
	padding: 40px 10px 10px;
	background-color: #efefef;
}
.profile h3{
	font-size: 20px;
	margin-top: 15px;
	color: orange;
}

#reviews span{
	font-size: 12px;
	color: #333; 
}

blockquote{
	font-size: 16px;
	line-height: 30px;
}
.profile:hover{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}

/* contact us  */

#contact h1{
	text-align: center;
	color: black;
	
}
#contact h1::after{
	content: '';
	background: black;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
#contact{
	background: rgb(208, 164, 216) ;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
}

.follow{
	background: #6F0580;
	padding: 10px;
	margin: 15px;
}

.reviewBtn{
	background-color: #a570b3;
	float: right;
	
}

.textarea{
	background-color: #dddddd;
	color: #666666;
	padding: 1em;
	border-radius: 10px;
	border: 2px solid transparent;
	outline: none;
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4;
	width: 300px;
	/* height: 100px; */
	transition: all 0.2s;
}

.textarea:hover{
	cursor: pointer;
	background-color: #eeeeee;
}

.textarea:focus{
	cursor: text;
	color: #333333;
	background-color: white;
	border-color: purple;
	
}

/* .single-box{
	position: relative;
	margin-bottom: 30px;
}

.carousel-indicators{
	left: 0;
	top: auto;
	bottom: -70px;
}

.carousel-indicators li{
	background: #000;
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

.carousel-indicators .active{
	background: #fff;

	}
 */

/* .wrapper{
	padding: 100px;
}

.wrapper:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: blue;
	z-index: -1;
	display: flex;
	
} */
/* q{
	font-size: 16px;
	line-height: 26px;
	margin: 0px;
	
}

.fa-quote-right{
	font-size: 28px;
	text-align: center;
	margin-bottom: 15px;
}

.text{
	background-color: pink;
	position: relative;
	padding: 25px;
	min-height: 170px;
	position: relative;
	box-shadow: 0 8px 15px rgba(0,0,0,0.24);
	
}

.slider{
	display: flex;
}
 */
 
 
 .hero{
 	width: 100%;
 	height: 60vh;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	}
 
/*  h2{
 	font-size: 30px;
 	position: relative;
 	
 } */
 
 /* h2::after{
 
 	content: '';
 	width: 150px;
 	height: 3px;
 	background: linear-gradient(to right, #f44336, #9f4db5);
 	position: absolute;
 	bottom: -20px;
 	left: 50%;
 	transform: translateX(-50%);
 }
  */
  
  .review-box{
 	 width: 90%;
 	 max-width: 500px;
 	/*  margin-left: 300px; */
 	 padding: 20px;
 	 height: 300px;
 	 border-radius: 10px;
 	 box-shadow: -10px 10px 40px rgba(0,0,0,0.25);
 	 position: relative;
 	 /* justify-content: center;
 	 text-align: center; */
 	 overflow: hidden;
 	 
  }
 
 .card{
 
 	height: 300px;
 	padding: 40px;
 	color: black;
 	line-height: 22px;
 	box-sizing: border-box;
 	background-color: relateive;
 	
 }
 
 #slide{
 	width: 100%;
 	padding-right: 60px;
 	box-sizing: border-box;
 	position: absolute;
 	top: 0;
 	left: 0;
 	transition: 0.5s;
 	
 }
 
 .sidebar{
 	width: 60px;
 	height: 100%;
 	padding: 15px 0;
 	box-sizing: border-box;
 	background: purple;
 	position: absolute;
 	right: 0;
 	top: 0;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 	align-items: center;
 }
 
 .sidebar img{
 	width: 25px;
 	padding: 5px;
 	background: #fff;
 	border-radius: 50%;
 	cursor: pointer;
 }
 
 .card::before{
 	content: '';
 	width: 110px;
 	height: 110px;
 	border-bottom-right-radius: 100%;
 	background: f44336;
 	position: absolute;
 	top: 0;
 	left: 0;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
